# -*- mode: gitignore -*-

.*
!.gitkeep

!/.gitignore
!/.gitattributes
!/.gitmessage
!/.jvmopts
!/.scalafmt.conf
!/.scalafix.conf

/target

/project/*
!/project/Dependencies.scala
!/project/JavaOptions.scala
!/project/ScalaOptions.scala
!/project/SparkOptions.scala
!/project/build.properties
!/project/plugins.sbt

/external/hive/*
!/external/hive/.gitkeep

/external/spark/warehouse/*
!/external/spark/warehouse/.gitkeep
/external/spark/checkpoint/*
!/external/spark/checkpoint/.gitkeep
